# Node.js & Next.js
node_modules/
.next/
out/
dist/
.npm/
.npmrc
package-lock.json
yarn.lock
pnpm-lock.yaml
*.log
logs/
*.gz
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Nest.js
/dist/
.cache/
*.tsbuildinfo

# C# (.NET)
bin/
obj/
*.suo
*.user
*.rsuser
*.sln.ide
.vscode/
.ionide/
.nuget/
*.nupkg
*.snupkg
project.lock.json
project.assets.json
packages/
test/coverage/

# Editor & Sistema
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.DS_Store
Thumbs.db

#expo
.expo/

# Node modules (Vercel já instala as dependências)
node_modules/

# Pasta de build (Vercel gera automaticamente)
dist/
out/
build/

# Arquivos de log
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Arquivos de ambiente (se não for seguro compartilhar)
.env
.env.local
.env.*.local

# Cache de dependências (pode ser pesado e desnecessário)
.pnpm-store/
.cache/
