/* @tailwind base;
   @tailwind components;
   @tailwind utilities; */
:root {
  --background: #e8e8e8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.form-container {
  width: 320px;
  margin: auto;
  border-radius: 0.75rem;
  background-color: #f7f7f7;
  padding: 2rem;
  color: #171717;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #00698f;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.input-group label {
  display: block;
  color: #666;
  margin-bottom: 4px;
}
.input-group input {
  width: 90%;
  border-radius: 0.375rem;
  border: 1px solid #ccc;
  outline: 0;
  background-color: #f7f7f7;
  padding: 0.75rem 1rem;
  color: #171717;
}
.input-group input:focus {
  border-color: #00698f;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #666;
  margin: 8px 0 14px 0;
}
.forgot a {
  color: #00a0e4;
  text-decoration: none;
  font-size: 14px;
}
.forgot a:hover {
  text-decoration: underline #00698f;
}

.sign {
  display: block;
  width: 100%;
  background-color: #00698f;
  padding: 0.75rem;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1;
  background-color: #ccc;
}

.social-message .message {
  padding: 0 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #666;
}

.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}
.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #666;
}
.signup a {
  color: #00a0e4;
  text-decoration: none;
  font-size: 14px;
}
.signup a:hover {
  text-decoration: underline #00698f;
}

button {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
  width: 100%;
  margin: auto;
}
button:hover {
  transform: scale(1.02);
}

.button svg {
  height: 24px;
}

/*# sourceMappingURL=globals.css.map */
